.dropdown__menu {
  position: relative;
  z-index: 1000;
  top: 0;
  left: 0;
  display: block;
  margin-top: 10px;
  min-width: 180px;
  background-color: var(--bg-color);
  border-left: 2px solid var(--color-glass-base);
  padding: 0px 20px;

  @media (min-width: $bp-tablet) {
    position: absolute;
    top: 100%;
    left: -40px;
    margin-top: 0;
    padding: 0 12px;
    border: 1px solid var(--color-glass-base);
    border-radius: 8px;
    box-shadow: 0 2px 8px var(--color-glass-base);
  }
}

.dropdown__item {
  position: relative;
  @include flex($justify: flex-start, $gap: 4px);
  padding: 12px 0;
  transition: var(--transition);
  color: var(--text-color);

  &::before {
    content: "→";
    position: absolute;
    left: -20px;
    opacity: 0;
    transition: var(--transition);
  }

  &:hover,
  &:active {
    padding-left: 28px;
    color: var(--color-link-hover);

    &::before {
      left: 0;
      opacity: 1;
    }
  }

  @media (hover: hover) {
    &:hover {
      transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
  }
}
