.scroll-to-top {
  position: fixed;
  bottom: 40px;
  right: 16px;
  width: 48px;
  height: 48px;
  z-index: 99;
  @include flex;
  background-color: var(--bg-color);
  box-shadow: 0 0px 8px var(--tool-color);
  border-radius: 50%;
  border: none;
  outline: none;
  transition: bottom 0.5s ease, box-shadow 0.2s ease;

  @media (min-width: $bp-tablet) {
    bottom: 40px;
    right: 24px;
    width: 56px;
    height: 56px;
  }

  &__docked {
  position: fixed; 
  bottom: calc(var(--footer-height) + 20px); 
  transition: bottom 0.3s ease; 
  }

  &__arrow {
    width: 32px;
    height: 32px;
    color: var(--tool-color);
  }

  &:focus-visible {
    outline: 3px solid var(--tool-color);
    outline-offset: 2px;
  }
  &:active {
    box-shadow: 0 4px 14px var(--tool-color);
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      box-shadow: 0 4px 14px var(--tool-color);
    }
  }
}
