:root {
  --font-main: "Inter", sans-serif;
  --font-code: "Fira Code", monospace;

  --bg-color: #eff5eb;
  --text-color: #0e0c0c;

  --bg-overlay-color: rgba(85, 84, 84, 0.829);
  --color-glass-base: rgba(91, 92, 95, 0.212);
  --color-link-hover: rgb(236, 34, 85);

  --tool-color: #043b37;
  --tool-bg: #0fe1f031;
  --tool-shadow: none;
  

  --btn-neon-gradient: linear-gradient(145deg, #bf6bcf, #a8aeeb);
  --card-shadow: 0 2px 12px rgba(0, 0, 0, 0.575);
  --card-shadow-hover: 0 4px 22px rgba(0, 0, 0, 0.76);
  --glow-color: 0 0px 22px #043b37;
  --glow-button-color: 2px 2px 10px #043b37b7;
  --btn-shadow-color: transparent;

  --btn-bg-color: linear-gradient(145deg, #0f0e0f, #3232db);

  --btn-text-color: #043b37;
  --btn-text-hover: #ffffff;

  --transition: 0.3s ease;
}

[data-theme="dark"] {
  --bg-color: #090920;

  --text-color: #e9edf1;

  --bg: #0a0b0f;
  --bg-card: #11131a;
  --tool-color: #4f60f7;
  --tool-bg: transparent;
  --tool-shadow: var(--tool-color) 0 0px 12px;

  --glow-color: 0 0px 22px #892eff;
  --glow-button-color: 0 0px 12px #892eff;
  --btn-neon-gradient: linear-gradient(145deg, #9a03ff, #ce8ce0);
  --card-shadow: 0 4px 12px rgba(252, 15, 181, 0.4);
  --card-shadow-hover: 0 4px 22px rgba(209, 3, 158, 0.8);
  --btn-shadow-color: 0 0px 42px #892eff;
  --btn-bg-color: transparent;
  --btn-text-color: #b22eff;
  --btn-text-hover: #ffffff;
  //box-shadow: 0 10px 40px rgb(17 206 229 / 30%);
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1200px;
