@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
@use "../../styles/typography" as *;

.about-section {
    padding-top: 40px;

    @media (min-width: $bp-tablet) {
        padding-top: 60px;
    }

    &__title {
        @include text-heading-xl;
        margin-bottom: 20px;
    }

    &__content {
        @include text-body;
        font-size: 18px;
    }
}

