.header {
  width: 100%;
  padding: 20px 0;
  border-bottom: 2px solid var(--color-glass-base);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  background: var(--color-glass-white);
  backdrop-filter: blur(40px);
  
  &__container {
    @include flex($justify: space-between);
  }

  

  &__nav {
    display: none;

    @media (min-width: $bp-tablet) {
      display: block;
    }
  }

  &__nav-list {
    @include flex($direction: column, $align: flex-start, $gap: 24px);

    @media (min-width: $bp-tablet) {
      @include flex($direction: row, $gap: 40px);
    }
  }
  &__actions {
    @include flex($gap: 24px);
  }

  &__burger {
    display: block;

    @media (min-width: $bp-tablet) {
      display: none;
    }
  }
}
